body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  margin-top: 20px;
}


.gallery img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 12px;

  border: 4px solid rgba(255, 255, 255, 0.4); /* borde blanco semi-transparente */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);   /* sombra para efecto de profundidad */
  
  backdrop-filter: blur(2px); /* efecto vidrio si es compatible */
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); /* sombra más intensa al pasar el mouse */
}


/* Modal (lightbox) */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
}

#caption {
  color: #fff;
  margin-top: 10px;
}

#close {
  position: absolute;
  top: 30px;
  right: 40px;
  color: white;
  font-size: 40px;
  cursor: pointer;
}
